html {
    overflow-x: hidden;
    font-size: max(12px, 3vmin);
}
select {
    height: max(20px, 4vmin);
    font-size: max(12px, 2.5vmin);
}
#result {
    width: max(90vmin, 500px);
    height: 60vh;
    overflow-y: scroll;
    white-space: pre;
}
#fairyImg {
    position: fixed;
    top: max(calc(60vh - 25vmin), 200px);
    left: max(60vmin, 300px);
    height: 50vmin;
    min-height: 300px;
    display: none;
}
